body
{
	font-size:14px;
	line-height:24px;
	color:black;
	font-weight:normal;
	font-family:"PTSans Regular";
}

h3
{
	font-size:30px;
	line-height:24px;
	color:black;
	font-weight:normal;
	font-family:"Cuprum Regular";
}